@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 31 73% 75%;
    --foreground: 78.3 15% 96%;
    --card: 78.3 15% 96%;
    --card-foreground: 251 26% 29%;
    --popover: 24.6 53% 38%;
    --popover-foreground: 78.3 15% 96%;
    --primary: 251 26% 29%;
    --primary-foreground: 189 59% 69%;
    --secondary: 74.5 65% 82%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 212.6 72% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 174.4 69% 83%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 89% 100%;
    --destructive-foreground: 210 40% 98%;
    --success: 144.3 92% 69%
    --warning: 17.2 89% 97%
    --border: 54.3 0% 100%;
    --input: 0 0% 100%;
    --ring: 222.2 84% 4.9%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 31 73% 75%;
    --foreground: 78.3 15% 96%;
    --card: 78.3 15% 96%;
    --card-foreground: 251 26% 29%;
    --popover: 24.6 53% 38%;
    --popover-foreground: 78.3 15% 96%;
    --primary: 251 26% 29%;
    --primary-foreground: 189 59% 69%;
    --secondary: 74.5 65% 82%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 212.6 72% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 174.4 69% 83%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 89% 100%;
    --destructive-foreground: 210 40% 98%;
    --success: 144.3 92% 69%
    --warning: 17.2 89% 97%
    --border: 54.3 0% 100%;
    --input: 0 0% 100%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
